<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets"
        xmlns:tizen="http://tizen.org/ns/widgets"
        id="http://chorus2.tizen/chorus2"
        version="1.0.0"
        viewmodes="maximized">

    <!-- required_version is the minimum Tizen WEB API version (not the
         platform version). 2019+ Samsung TVs reject both extremes:
         "5.0" matches no Web API at all, and "2.3" is below their minimum
         acceptable. "4.0" is the value the build plan prescribed and is
         what actually installs on the test TV (Samsung 2019 RU-series).
         Do not change this without testing on real hardware. -->
    <tizen:application id="chorus2tzn.Chorus2"
                       package="chorus2tzn"
                       required_version="4.0"/>

    <content src="index.html"/>

    <feature name="http://tizen.org/feature/screen.size.normal.1080.1920"/>

    <icon src="icon.png"/>
    <name>Chorus2</name>

    <tizen:profile name="tv-samsung"/>

    <!-- Privileges -->
    <tizen:privilege name="http://tizen.org/privilege/internet"/>
    <tizen:privilege name="http://tizen.org/privilege/download"/>
    <tizen:privilege name="http://tizen.org/privilege/mediastorage"/>
    <tizen:privilege name="http://tizen.org/privilege/filesystem.read"/>
    <tizen:privilege name="http://developer.samsung.com/privilege/productinfo"/>

    <!-- Network access whitelist. "*" is permissive but pragmatic: the
         user configures their Kodi host at runtime, so we can't pin it
         at build time. Tightening means rebuilding when Kodi moves. -->
    <access origin="*" subdomains="true"/>

    <!-- Allow navigation to any URL (covers HTTP Kodi over LAN). -->
    <tizen:allow-navigation>*</tizen:allow-navigation>

    <tizen:setting screen-orientation="landscape"
                   context-menu="disable"
                   background-support="enable"
                   encryption="disable"
                   hwkey-event="enable"
                   background-vibration="disable"/>

</widget>
